<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    *{
        margin: 0;
    }
    form {
        margin: 20px;
    }
    </style>
</head>
<body>
    <form action="/survey" method="post">
        <div class="form">
            <label for="nameInput">Name:</label>
            <input type="text" name="name">
        </div>
        <div class="form">
            <label for="locationSelect">Dojo Location:</label> 
            <select name="location" id="location">
                <option value="burbank">Burbank</option>
                <option value="dallas">Dallas</option>
                <option value="seattle">Seattle</option>
                <option value="sanJose">San Jose</option>
            </select>
        </div>
        <div class="form">
            <label for="languageSelect">Favorite Language:</label>
            
            <input type="radio" name="language" id="language1" value="python">
            <label for="language1">Python</label>
            
            <input type="radio" name="language" id="language2" value="java">
            <label for="language2">JAVA</label>
            
            <input type="radio" name="language" id="language3" value="mean">
            <label for="language3">MEAN</label>
        </div>
        <div class="form">
            <label for="checkboxes"> Most interested in?</label> <br>
            <input type="checkbox" name="interest" value="front end">front End <br>
            <input type="checkbox" name="interest" value="back end">back End <br>
            <input type="checkbox" name="interest" value="full end">full End <br>
        </div>
        <div class="form">
            <label for="commentInput">Comment (optional):</label><br>
            <textarea name="comment" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="submit user">
    </form>
</body>
</html>