<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    * {
        margin: 10px;
        padding: 0;
    }
    h1 {
        text-decoration: underline;
        font-size: 20px;
    }
    p span {
        text-align: right;
    }
    </style>
</head>
<body>
    <h1>Submitted info</h1>
    <p>Name: {{name}} </p>
    <p>Dojo Location: {{location}}</p>
    <p>Favorite Language: {{language}}</p>
    <p>Most interested in: 
        {% for items in interest %}
            {{items}}
        {% endfor %}
    </p>
    <p>Comment: {{comment}}</p>
</body>
</html>